@font-face {
  font-family: SidTheKidNF;
  src: url(SidTheKidNF.ttf);
}
.player { background-color: #555; font-family: 'SidTheKidNF'; color: white; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; font-size: 17px; width: 100%; } .player:hover { background-color: #777; }
.hiddenplayer { background-color: #228b22; font-family: 'SidTheKidNF'; color: #228b22; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; font-size: 17px; width: 100%; } .hiddenplayer:hover { background-color: #777; font-family: 'SidTheKidNF'; color: white; }
.ground { background-color: #228b22; position: fixed; bottom: 0; height: 520px; width:100%; z-index: -1;}
.sky { background-color: #87ceeb; position: fixed; bottom: 520px; height: 200px; width:100%; z-index: -1;}
#div1{
    width: 50%;

}



#div2{
    width: 50%;

}
#dot {
  position:relative;
   bottom:10px;
